<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Dịch vụ CSKH</p>
                    <p class="tel">0123-456-789</p>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Giới thiệu</dt>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
            </dl>
            <dl class="col-article">
                <dt>Giới thiệu</dt>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
            </dl>
            <dl class="col-article">
                <dt>Giới thiệu</dt>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
            </dl>
            <dl class="col-article">
                <dt>Giới thiệu</dt>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
                <dd>Về chúng tôi</dd>
            </dl>

        </div>
        <div class="footer-links w1100">
            <p>Liên kết：</p>
            <div class="clearfix">
                <a th:href="@{/index}">Thu Dang Store</a>
                <a th:href="@{/admin}">Hệ thống quản lý</a>

            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">

                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Copyright © 2021 </a></p>
            </div>
        </div>

    </div>
</div>
</html>