<footer style=" background: white;
  color:black;">
	<div class="tt-footer-default tt-color-scheme-02">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">

				</div>
				<div class="col-md-auto">
					<ul class="tt-social-icon">
						<li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
						<li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
						<li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Liên Hệ</h2>
      <p class="pr-5 text-white-50"> số 30, NV1, tổng cục 5 Tân triều- Thanh trì- Hà Nội </p>
         <p class="pr-5 text-white-50"> Hotline: 03333 26789</p>
            <p class="pr-5 text-white-50">sieureviet@gmail.com </p>
    <br>
       <ul class="m-0 p-0" style="list-style-type: none;font-size: 15px;">
          <li> <a href="/customer/login"> ĐĂNG NHẬP</a></li><br>
         
          <li> <a href="/signup">ĐĂNG XUẤT</a></li>
          </ul>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Mạng xã hội</h4>
        	<ul class="tt-social-icon">
						<li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/" style="color: black;
      transition: color .2s;">  facebook.com/SieurevietStore</a></li>
         
          
        </ul>
    </div>
   
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2021. Sieurevietstore.</small></p>
    </div>
  </div>
</div>
</div>
	</div>
	 
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>